
<link rel="stylesheet" href="/css/users_profile.css">
    <h1>
        Profile Page <%= title %>
    </h1>

    <p>
        EmailID is: <%= user.email %>
    </p>

    <p>
        Username is: <%= user.name %>
    </p>
    
