
<link rel="stylesheet" href="/css/users_profile.css">
    <h1>
        Profile Page <%= title %>
    </h1>

    <p>
        EmailID is: <%= profile_user.email %>
    </p>

    <p>
        Username is: <%= profile_user.name %>
    </p>


    <% if(locals.user.id == profile_user.id) { %>
        <!-- if user matches, show update profile form -->
        <div id="profile-update">
            <h4>
                Update Profile
            </h4>
            <form action="/users/update/<%= locals.user.id %>" method="POST">
                <input type="text" placeholder="Update name">
                <input type="email" placeholder="Update Email">
                <input type="password" placeholder="Update Password">

                <button type="submit">Update Details</button>
            </form>
        </div>
    <% } %>
    
    
