footer {


    // bottom: 0;
    // left: 0;
    // position: fixed;
    // font-size: small;
    // width: 100%;


    /*or just height:50px;*/
    margin-top: auto;
    position: sticky;
    bottom: 0;

    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    color: white;
    background-color: slategray;


    h4 {
        margin-left: 10px;
        align-self: center;
    }

    ul {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;

        li {
            list-style-type: none;
            margin: 2px;

            a {
                text-decoration: none;
                color: white;
                font-size: large;
            }
        }
    }

}